defaults: &defaults
  working_directory: ~/code
  docker:
    - image: circleci/ruby:2.4.2-jessie-node

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - gem-cache-{{ checksum "Gemfile.lock" }}
            - gem-cache-
      - run:
          name: Bundle
          command: |
            sudo apt-get update
            sudo apt-get install postgresql-server-dev-9.4
            bundle install
      - save_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run: 
          name: Database Setup
          command: |
              bundle exec rake db:auto_migrate
          environment:
            DATABASE_URL: "postgres://localhost/whatsapp_users_test"
      - run:
          name: Run rspec in parallel
          command: |
            bundle exec rspec --profile 10 \
                              --format RspecJunitFormatter \
                              --out test_results/rspec.xml \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

  deploy:
    <<: *defaults
    environment:
      HEROKU_APP: "whatsapp-users"
    steps:
      - checkout
      - run:
          name: Deploy to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP.git master

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
    - build
    - deploy:
        requires:
          - build
